<a href="filter"><img src="/public/images/filter.svg">Filter</a>
    {{#each profiles}}  
        <section class="match">
                <img src="{{this.image}}">
                <h2>{{this.catname}}</h2> 
                <h3>Kat van {{this.name}}</h3>
                <h4>{{this.age}}</h4>
                <p>{{this.description}}</p>
        <article>
            <img src="/public/images/close.svg">
            <img src="/public/images/heart.svg">
        </article>
        </section>
    {{/each}}
